* {
  font-size: 20px;
  box-sizing: border-box;
}
.main {
  padding-top: 20px;
}
.trinary, .multi {
	margin-top: 20px;
	margin-left: 20px;
}
.trinary > input {
	width: 50%;
	margin-bottom: 15px;
}
.multi > input {
	width: 100%;
}