* {
  font-size: 20px;
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  min-height: 100%;
}
.main {
  padding-top: 20px;
  height: -moz-calc(100% - (60px));
  height: -webkit-calc(100% - (60px));
  height: calc(100% - (60px));
  max-height: -moz-calc(100% - (60px));
  max-height: -webkit-calc(100% - (60px));
  max-height: calc(100% - (60px));
}
.my-left-col, .my-right-col {
  height: 100%;
  box-sizing: border-box;
  /*padding-bottom: 10px;*/
}
.my-left-col h3 {
  height: 41.6px;
}
.my-left-col .input-group {
  height: 46.6px;
}
.tweet-wrapper {
  height: 500px;
}
.tweet-wrapper img {
  max-height: 100%;
}
.title {
  height: 29px;
  margin-bottom: 25px;
  text-align: center;
}
.my-left-col p, .my-right-col p {
  margin-top: 250px;
  text-align: center;
}
.tag {
  margin-right: 10px;
  margin-bottom: 10px;
}
.submit-button {
  margin: auto;
  display: block;
  margin-top: 20px;
}
.add-button {
  
}
.row {
  width: 100%;
  height: -moz-calc(100% - (54px));
  height: -webkit-calc(100% - (54px));
  height: calc(100% - (54px));
  padding-bottom: 25px;
}
.navbar {
  height: 60px;
  min-height: 60px;
}
.recommended {
  height: calc(100% - (51.6px + 66.6px + 50px));
}
.tagged {
  height: calc(100% - (51.6px + 50px));
}
.recommended, .tagged {
  overflow-y: auto;
  overflow-x: hidden;
}
.card-body {
  height: 300px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
.previous {
  position: fixed;
  top: 50%;
  left: 0px;
}
.next {
  position: fixed;
  top: 50%;
  right: 0px;
}
.next-hover, .previous-hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}
