* {
  font-size: 20px;
}
body {
  overflow: hidden;
}
ul.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-list li {
  display: inline;
  padding: 8px;
}
.main {
  padding-top: 40px;
}
.my-left-col p, .my-right-col p {
  text-align: center;
}
.tweet-wrapper {
  height: 500px;
  /*position: relative;*/
  /*left: 0px;*/
  /*max-height: 500px;*/
}
.tweet-wrapper img {
  max-height: 100%;
  position: absolute;
  transition: 1s ;
  z-index: 20;
}
.title {
  margin-bottom: 25px;
}
.my-left-col p, .my-right-col p {
  margin-top: 250px;
}
.junk p {
  width: 50px;
  margin: auto;
}
.swipe-left {
  transform: rotate(45deg);
  -webkit-animation: l-animation 1s; /* Safari 4.0 - 8.0 */
  animation: l-animation 1s;
}
.swipe-right {
  transform: rotate(-45deg);
  -webkit-animation: r-animation 1s; /* Safari 4.0 - 8.0 */
  animation: r-animation 1s;
}
@keyframes l-animation {
    from { left: 0px; }
    to { left: -1500px; }
}
@keyframes r-animation {
    from { right: 0px; }
    to { right: -1500px; }
}