* {
  font-size: 20px;
  box-sizing: border-box;
}
.main {
  padding-top: 40px;
}
.title {
  margin-bottom: 25px;
  text-align: center;
  margin-top: 60px;
}
.card-body {
  height: 300px;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.label-row {
  margin-top: 15px;
  margin-bottom: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.label {
  flex-grow: 1;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
}
.label-left {
  order: 0;
}
.label-right {
  order: 2;
}
.label-down {
  order: 1;
}
.no, .yes, .down {
  width: 100%;
}
.no-solid, .yes-solid, .down-solid {
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
}
.no-solid {
  background-color: #dc3545;
  border-color: #dc3545; 
}
.yes-solid {
  background-color: #28a745;
  border-color: #28a745;
}
.down-solid {
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn {
  transition: none;
}
.blue {
  background-color: #007bff;
}
.red {
  background-color: #ff3300;
}
.text-red {
  color: #ff3300;
}
@media only screen and (max-width: 600px) {
  .label {
    width: 50%;
    flex-basis: 50%;
  }
  .label-left {
    order: 0;
  }
  .label-right {
    order: 1;
  }
  .label-down {
    order: 2;
    max-width: 50%;
  }
}
