* {
  font-size: 20px;
  box-sizing: border-box;
}
.main {
  padding-top: 20px;
}
.title {
  margin-bottom: 25px;
  text-align: center;
}
.card-body {
  height: 250px;
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
}
.label-row {
  margin-top: 15px;
  margin-bottom: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.label {
  flex-grow: 1;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
}
.label-left {
  order: 0;
}
.label-right {
  order: 2;
}
.label-down {
  order: 1;
}
.btn-left, .btn-right, .btn-down {
  width: 100%;
}
.previous {
  position: fixed;
  top: 50%;
  left: 0px;
}
.next {
  position: fixed;
  top: 50%;
  right: 0px;
}
.next-hover, .previous-hover {
  color: #212529;
  background-color: #e2e6ea;
  border-color: #dae0e5;
}
.hotkey-bar {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.btn-left-solid, .btn-right-solid, .btn-down-solid {
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
}
.btn-left-solid {
  background-color: #dc3545;
  border-color: #dc3545; 
}
.btn-right-solid {
  background-color: #28a745;
  border-color: #28a745;
}
.btn-down-solid {
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn {
  transition: none;
}
.blue {
  background-color: #007bff;
}
.red {
  background-color: #ff3300;
}
.text-red {
  color: #ff3300;
}
@media only screen and (max-width: 600px) {
  .label {
    width: 50%;
    flex-basis: 50%;
  }
  .label-left {
    order: 0;
  }
  .label-right {
    order: 1;
  }
  .label-down {
    order: 2;
    max-width: 50%;
  }
  .hotkey-bar {
    display: none;
  }
}
